* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 10%;
    margin-right: 10%;
}

header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 64px;
    width: auto;
}

.stripe-main{
    background-color:aquamarine;
    display: flex;
    justify-content: space-between;
}

.main-right img{
    height: auto;
    width: 400px;
}

.stripe-informations{
    background-color: blueviolet;
}

.informations{
    display: flex;
}

.informations img{
    height: 64px;
    width: auto;
}

.stripe-quote{
    background-color: darkgray;
}

.stripe-call-to-action{
    background-color: chartreuse;
    display: flex;
}

footer{
    background-color: cadetblue;
}