* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 40px;
    background-color: #0e0e0e;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

header h1{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

header nav a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;    
}

nav{
    display: flex;
    gap: 20px;
}

.stripe-main{
    background-color: #1f2937;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.stripe-main h2{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.stripe-main p{
    font-size: 18px;
    color: #e5e7eb;
}

.stripe-main button{
    color: white;
    font-weight: bold;
    background-color: #3882fa;
    border: none;
    border-radius: 8px;
    padding: 10px 24px ;
    margin-top: 20px;
}

.main-left{
    width: 50%;
}

.main-right{
    width: 50%;
    display: flex;
    justify-content: right;
}
.main-right img{
    height: auto;
    width: 500px;
}

.stripe-informations{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.stripe-informations h3{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.informations{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

figure{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    width: 256px;
    text-align: center;
}

.informations img{
    height: 128px;
    width: auto;
    margin-bottom: 10px;
    border: 4px solid #3882fa;
    border-radius: 10%;
}

.stripe-quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding: 120px 120px 60px 120px;
}

.signature{
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    padding-top: 32px;
    padding-right: 128px;
}

.stripe-call-to-action{
    background-color: chartreuse;
    display: flex;
}

footer{
    background-color: cadetblue;
}